body {
  background-color: lightgoldenrodyellow;
}
/*
canvas {
	box-shadow: #393844 20px 10px 50px;
  position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);  
}*/

div {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content:center;
	align-items: center;
}
