@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');


body {
  background-color: lightgoldenrodyellow;
	font-family: 'Poppins', sans-serif;	
}


.flexContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	margin-top: 20%;
	
}

#score {
	color: #00adad;
	font-size: 60px;
}

.logo {
	width: 50%;
}